name: CI CD Pipeline
on: 
  push:
    branches: [ "main" ]
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Validating Repo
        uses: actions/checkout@v4
  build-and-push:
    runs-on: ubuntu-latest
    needs: Test
    steps:
      - uses: actions/checkout@v4
      - name: Docker login
        uses: docker/login-action@v3
        with: 
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: Build docker image
        run: |
          docker build --no-cache --file Dockerfile --tag ${{secrets.DOCKERHUB_USERNAME}}/feedback-app:latest .
      - name: Push to Docker Hub
        run: | 
          docker push ${{secrets.DOCKERHUB_USERNAME}}/feedback-app:latest
  trivy-scan:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Scanning vulnerability in Image
        uses: aquasecurity/trivy-action@0.20.0
        with: 
          image-ref: ${{secrets.DOCKERHUB_USERNAME}}/feedback-app:latest
          severity: 'HIGH,CRITICAL'
          exit-code: '1'
        env:
          TRIVY_CLEAR_CACHE: "true"
          
